# Ordinal numbering encoding or Label Encoding

#Ordinal categorical variables
Ordinal data is a categorical, statistical data type where the variables have natural, ordered categories and
the distances between the categories is not known.


For example:

Student's grade in an exam (A, B, C or Fail).
Educational level, with the categories: Elementary school, High school, College graduate, PhD ranked from 1 to 4.
When the categorical variables are ordinal, the most straightforward best approach is to replace the labels 
by some ordinal number based on the ranks.

In [3]:
import pandas as pd
import numpy as np
import datetime

In [64]:
# create a variable with dates, and from that extract the weekday
# I create a list of dates with 20 days difference from today
# and then transform it into a datafame

df_base=datetime.datetime.today()

df_date_list = [df_base - datetime.timedelta(days) for days in range(0, 29)]
df = pd.DataFrame(df_date_list)
df.columns=['day']
df.head()

                         day
0 2020-08-20 12:23:51.076676
1 2020-08-19 12:23:51.076676
2 2020-08-18 12:23:51.076676
3 2020-08-17 12:23:51.076676
4 2020-08-16 12:23:51.076676

In [65]:
# extract the week day name

df['day_of_week'] = df['day'].dt.strftime("%A")
df.head()

                         day day_of_week
0 2020-08-20 12:23:51.076676    Thursday
1 2020-08-19 12:23:51.076676   Wednesday
2 2020-08-18 12:23:51.076676     Tuesday
3 2020-08-17 12:23:51.076676      Monday
4 2020-08-16 12:23:51.076676      Sunday

In [75]:
# Engineer categorical variable by ordinal number replacement
weekday_map = {'Monday':1,
               'Tuesday':2,
               'Wednesday':3,
               'Thursday':4,
               'Friday':5,
               'Saturday':6,
               'Sunday':7
}

df['day_ordinal'] = df.day_of_week.map(weekday_map)
df.head(20)

                          day day_of_week  day_ordinal
0  2020-08-20 12:23:51.076676    Thursday            4
1  2020-08-19 12:23:51.076676   Wednesday            3
2  2020-08-18 12:23:51.076676     Tuesday            2
3  2020-08-17 12:23:51.076676      Monday            1
4  2020-08-16 12:23:51.076676      Sunday            7
5  2020-08-15 12:23:51.076676    Saturday            6
6  2020-08-14 12:23:51.076676      Friday            5
7  2020-08-13 12:23:51.076676    Thursday            4
8  2020-08-12 12:23:51.076676   Wednesday            3
9  2020-08-11 12:23:51.076676     Tuesday            2
10 2020-08-10 12:23:51.076676      Monday            1
11 2020-08-09 12:23:51.076676      Sunday            7
12 2020-08-08 12:23:51.076676    Saturday            6
13 2020-08-07 12:23:51.076676      Friday            5
14 2020-08-06 12:23:51.076676    Thursday            4
15 2020-08-05 12:23:51.076676   Wednesday            3
16 2020-08-04 12:23:51.076676     Tuesday            2
17 2020-08-03 12:23:51.076676      Monday            1
18 2020-08-02 12:23:51.076676      Sunday            7
19 2020-08-01 12:23:51.076676    Saturday            6

# Ordinal Measurement Advantages

Ordinal measurement is normally used for surveys and questionnaires. Statistical analysis is applied to the responses once they are collected to place the people who took the survey into the various categories. The data is then compared to draw inferences and conclusions about the whole surveyed population with regard to the specific variables. The advantage of using ordinal measurement is ease of collation and categorization. If you ask a survey question without providing the variables, the answers are likely to be so diverse they cannot be converted to statistics.

With Respect to Machine Learning

Keeps the semantical information of the variable (human readable content)
Straightforward

# Ordinal Measurement Disadvantages

The same characteristics of ordinal measurement that create its advantages also create certain disadvantages. The responses are often so narrow in relation to the question that they create or magnify bias that is not factored into the survey. For example, on the question about satisfaction with the governor, people might be satisfied with his job performance but upset about a recent sex scandal. The survey question might lead respondents to state their dissatisfaction about the scandal, in spite of satisfaction with his job performance -- but the statistical conclusion will not differentiate.

With Respect to Machine Learning

Does not add machine learning valuable information